.cadastrar {
  display: block;
  width: 100%;
  max-width: 40.0rem;
  margin: 4rem auto 6rem ;
  border: 1x solid black;

  .wrap {
    padding: 10px;

    .h2 {
      font-size: 2.2em;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      padding:0;
      margin: 0 auto;
    }

    .socialSignin{
  margin: .5rem auto 0;
  
  .links{
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;

  a{
      color: red;
      text-decoration: underline;
  }
}
}
}
}





